@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto+Slab:wght@300;400&display=swap');


body{
    margin: 0px;
    padding:0px;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-weight: 200;
    margin-bottom: 25px;
    font-weight: 20px;
}

p {
    font-size: 16px;
}
#title{
    width: 100%;
    text-align: center;
}

strong, p{
    font-family: 'Roboto Slab', serif;
}

img {
    width: 100%;
    height:100%;
    border: 2px solid;
}

/*mobile*/
.container{
    width: 100%;
}

.bloco{
    float: left;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 50px;
    
}


/*Desktop*/
@media only screen and (min-width: 769px) {
    .bloco{
        width: 45%;
        height: 450px;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 50px;
    }
}